<!-- <h2 style="text-align: center;">Local Info</h2><br>
<br>

<div class="a card-deck">
    <div class="card bg-primary">

        <div class="card-body text-center">
            <i class="fa fa-university fa-5x" aria-hidden="true"></i><br><br>
            <h4 class="card-text">Local Total Cases: {{}}</h4>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body text-center">
            <p class="card-text">Some text inside the second card</p>
        </div>
    </div>
    <div class="card bg-success">
        <div class="card-body text-center">
            <p class="card-text">Some text inside the third card</p>
        </div>
    </div>
    <div class="card bg-danger">
        <div class="card-body text-center">
            <p class="card-text">Some text inside the fourth card</p>
        </div>
    </div>
</div> -->