.a {
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    color: aliceblue;
}

.hlist {
    margin-left: 300px;
    margin-right: 300px;
    border: 2px solid;
}

.hhlist {
    margin-left: 300px;
}